/* line 4, ../lib/styles/admin/acf.scss */
#acf-col-side {
  display: none; }

/* line 8, ../lib/styles/admin/acf.scss */
#acf-group_5414693745fa1 .handlediv {
  /* hide postbox handle */
  display: none; }
/* line 12, ../lib/styles/admin/acf.scss */
#acf-group_5414693745fa1 .hndle {
  /* turn off postbox accordian */
  pointer-events: none; }

/* line 18, ../lib/styles/admin/acf.scss */
.acf-field .acf-label label {
  font-size: .95rem;
  font-weight: 300;
  margin: 0 0 -7px; }

/* line 24, ../lib/styles/admin/acf.scss */
.acf-file-uploader {
  background: #FBFBFB;
  box-shadow: 0 2px 15px -10px #000; }

/* line 29, ../lib/styles/admin/acf.scss */
.acf-icon.dark {
  background: transparent;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  padding: 0; }
  /* line 34, ../lib/styles/admin/acf.scss */
  .acf-icon.dark [class*="acf-sprite"] {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .75;
    transition: opacity .25s ease-out; }
  /* line 39, ../lib/styles/admin/acf.scss */
  .acf-icon.dark:hover [class*="acf-sprite"] {
    -webkit-filter: invert(0);
    filter: invert(0);
    opacity: .8;
    transition: opacity .25s ease-out; }

/* line 45, ../lib/styles/admin/acf.scss */
.acf-image-uploader .view {
  float: none; }

/* line 49, ../lib/styles/admin/acf.scss */
.acf-repeater .acf-field .acf-label label {
  margin: 0; }
/* line 52, ../lib/styles/admin/acf.scss */
.acf-repeater .active .acf-tab-button {
  background: white; }
/* line 55, ../lib/styles/admin/acf.scss */
.acf-repeater td.acf-label, .acf-repeater .acf-repeater td.acf-input {
  vertical-align: middle; }

/* line 59, ../lib/styles/admin/acf.scss */
.acf-soh .acf-soh-target {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  height: 2em;
  margin-top: -1em;
  opacity: .25;
  transition: opacity .25s ease-out;
  visibility: visible; }
  /* line 69, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target:hover {
    opacity: 1;
    transition: opacity .25s ease-out; }
  /* line 73, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target li {
    padding: 0 .625em;
    vertical-align: middle; }
    /* line 76, ../lib/styles/admin/acf.scss */
    .acf-soh .acf-soh-target li + li {
      border-left: 1px solid #999;
      transition: border-left .2s ease-out; }
  /* line 81, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target:hover li + li {
    border-left: 1px solid #DDD;
    transition: border-left .1s ease-out; }

/* line 89, ../lib/styles/admin/acf.scss */
.acf-tab-group .acf-tab-button:focus {
  border-color: #0099FF;
  box-shadow: 0 0 0 transparent;
  outline: 0 solid transparent; }
/* line 95, ../lib/styles/admin/acf.scss */
.acf-tab-group:not(.active) .acf-tab-button {
  background: transparent;
  border-color: transparent;
  transition: all .125s ease-in; }
  /* line 99, ../lib/styles/admin/acf.scss */
  .acf-tab-group:not(.active) .acf-tab-button:hover {
    background: #FDFDFD;
    border-color: #DDD;
    color: #444;
    transition: all .125s ease-in; }
