/* line 1, ../lib/styles/admin/admin-theme.scss */
.rg--big {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  letter-spacing: -.0325rem; }

/* line 11, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu .wp-has-submenu.wp-has-current-submenu.wp-menu-open.menu-top .wp-submenu.wp-submenu-wrap {
  /*
  || OPEN SUBMENU WRAPPER CUR
  */
  border-bottom: 1px solid #d2d2d2; }
/* line 17, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu .wp-has-submenu .wp-submenu.wp-submenu-wrap {
  /*
  || OPEN SUBMENU WRAPPER 
  */ }
  /* line 21, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light #adminmenu .wp-has-submenu .wp-submenu.wp-submenu-wrap .wp-submenu-head {
    color: white;
    font-weight: 900;
    letter-spacing: -.0125em;
    background: #d23b3b; }
  /* line 27, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light #adminmenu .wp-has-submenu .wp-submenu.wp-submenu-wrap:after {
    display: none !important; }
/* line 32, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu a:hover,
.admin-color-light #adminmenu li.menu-top:hover,
.admin-color-light #adminmenu li.opensub > a.menu-top,
.admin-color-light #adminmenu li > a.menu-top:focus {
  /*
  || TOP-LEVEL MENU ITEM HOVER/FOCUS 
  */
  color: #d23b3b;
  background: #f3cece; }
  /* line 41, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light #adminmenu a:hover .wp-menu-image.dashicons-before:before,
  .admin-color-light #adminmenu li.menu-top:hover .wp-menu-image.dashicons-before:before,
  .admin-color-light #adminmenu li.opensub > a.menu-top .wp-menu-image.dashicons-before:before,
  .admin-color-light #adminmenu li > a.menu-top:focus .wp-menu-image.dashicons-before:before {
    /*
    || TOP-LEVEL MENU ICON HOVER/FOCUS 
    */
    color: #d23b3b; }
/* line 48, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu li.current a.menu-top,
.admin-color-light #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.admin-color-light #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded .admin-color-light #adminmenu li.current.menu-top {
  /*
  || TOP-LEVEL MENU ITEM CURRENT 
  */
  background: #d23b3b;
  color: white; }
  /* line 57, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light #adminmenu li.current a.menu-top .dashicons-before:before,
  .admin-color-light #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head .dashicons-before:before,
  .admin-color-light #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu .dashicons-before:before, .folded .admin-color-light #adminmenu li.current.menu-top .dashicons-before:before {
    /*
    || TOP-LEVEL MENU ICON CURRENT 
    */
    color: white !important; }
/* line 65, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.admin-color-light #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.admin-color-light #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
.admin-color-light #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover,
.admin-color-light #adminmenu .wp-submenu a:focus,
.admin-color-light #adminmenu .wp-submenu a:hover,
.admin-color-light #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
.admin-color-light #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, .folded .admin-color-light #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded .admin-color-light #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
  /*
  || OPEN SUBMENU HOVER/FOCUS ITEM 
  */
  background: #f8e1e1;
  color: #d23b3b; }
/* line 81, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a,
.admin-color-light #adminmenu .wp-submenu li.current a,
.admin-color-light #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a {
  /*
  || OPEN SUBMENU CURRENT ITEM 
  */
  color: #d23b3b !important;
  font-weight: 900;
  letter-spacing: -.0125em; }
/* line 91, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu a.wp-has-current-submenu:after,
.admin-color-light #adminmenu > li.current > a.current:after,
.admin-color-light #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  /*
  || HIDE TRITIP ON OPEN CUR SUBMENU
  */
  display: none !important; }
/* line 99, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenu #collapse-menu {
  /*
  || FADE MEN COLLAPSE ICON
  */
  opacity: .325; }
/* line 106, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light #adminmenuback {
  /*
  || ADD BORDER TO OPEN MENU
  */
  border-right: 1px solid #d2d2d2; }
/* line 112, ../lib/styles/admin/wp-adminmenu.scss */
.admin-color-light.folded {
  /*
  || COLLAPSED MEN STYLES
  */ }
  /* line 116, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light.folded #adminmenuback, .admin-color-light.folded #adminmenuwrap, .admin-color-light.folded #adminmenu {
    /*
    || MAIN MENU WRAP ELEMS
    */
    background: whitesmoke; }
  /* line 123, ../lib/styles/admin/wp-adminmenu.scss */
  .admin-color-light.folded #adminmenuwrap #adminmenu .wp-menu-open .wp-submenu.wp-submenu-wrap {
    border-bottom: 0 solid transparent;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important; }

/* line 1, ../lib/styles/admin/wp-adminbar.scss */
#wpadminbar {
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 4px 12px -10px black;
  background: rgba(255, 255, 255, 0.95); }
  /* line 7, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-wp-logo {
    display: none; }
  /* line 10, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-site-name {
    width: 34px;
    max-width: 34px;
    transition: all .2s; }
  /* line 15, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-site-name:hover {
    width: 160px;
    max-width: 160px;
    transition: all .2s; }
  /* line 20, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-site-name > a {
    display: block;
    width: 19px;
    font-style: italic;
    color: transparent; }
  /* line 26, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-site-name:hover > a {
    width: auto;
    color: #00ABD8; }
  /* line 30, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li#wp-admin-bar-view * {
    font-weight: bold;
    letter-spacing: -.02em;
    background: #F4FDFF;
    color: #00ABD8; }
  /* line 36, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li:only-child {
    border-left: 1px solid #EAEAEA; }
  /* line 39, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li + li {
    border-right: 1px solid #EAEAEA; }
  /* line 42, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li > a:hover {
    background: #F6F6F6; }
  /* line 45, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-toolbar .ab-top-menu > li.menupop.hover > a:active, #wpadminbar #wp-toolbar .ab-top-menu > li.menupop.hover > a:active *, #wpadminbar #wp-toolbar .ab-top-menu > li > a:active {
    color: #919191; }
  /* line 51, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
    height: auto;
    margin: 0 0 0 75px !important; }
    /* line 55, ../lib/styles/admin/wp-adminbar.scss */
    #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li:hover {
      background: #F6F6F6; }
    /* line 58, ../lib/styles/admin/wp-adminbar.scss */
    #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li a > img.avatar {
      left: -70px;
      top: 5px;
      border-radius: 100%; }
    /* line 63, ../lib/styles/admin/wp-adminbar.scss */
    #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li a > span {
      line-height: 26px;
      height: 26px; }
  /* line 69, ../lib/styles/admin/wp-adminbar.scss */
  #wpadminbar .ab-sub-wrapper {
    border-top: 1px solid #DDD; }
    /* line 71, ../lib/styles/admin/wp-adminbar.scss */
    #wpadminbar .ab-sub-wrapper .ab-submenu {
      padding: 0 !important; }
      /* line 73, ../lib/styles/admin/wp-adminbar.scss */
      #wpadminbar .ab-sub-wrapper .ab-submenu > li {
        padding: .2em 0; }
        /* line 75, ../lib/styles/admin/wp-adminbar.scss */
        #wpadminbar .ab-sub-wrapper .ab-submenu > li + li {
          border-top: 1px solid #EAEAEA; }
        /* line 78, ../lib/styles/admin/wp-adminbar.scss */
        #wpadminbar .ab-sub-wrapper .ab-submenu > li:hover {
          background: #F6F6F6; }

/* line 1, ../lib/styles/admin/single-editor.scss */
#post-body {
  left: -140px;
  margin: 0 auto;
  max-width: 900px;
  position: relative; }

/* line 7, ../lib/styles/admin/single-editor.scss */
#post-preview {
  bottom: 100%;
  margin-bottom: 4px;
  position: absolute;
  right: 4px; }
  /* line 12, ../lib/styles/admin/single-editor.scss */
  #post-preview :not(:hover) {
    background: #FDFDFD;
    border: 1px solid #DADADA; }

/* line 17, ../lib/styles/admin/single-editor.scss */
#postbox-container-1 {
  display: block;
  overflow: hidden; }
  /* line 20, ../lib/styles/admin/single-editor.scss */
  #postbox-container-1 > #side-sortables {
    border-left: 1px solid transparent;
    box-shadow: -25px 0 125px -75px transparent;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 6.125% 0 0 1%;
    position: fixed;
    top: 0;
    transition: all .12s ease-in-out;
    width: 300px;
    z-index: 9; }
    /* line 33, ../lib/styles/admin/single-editor.scss */
    #postbox-container-1 > #side-sortables > * {
      -webkit-filter: saturate(1.125);
      opacity: .825;
      pointer-events: none;
      transition: all .12s ease-in-out; }
    /* line 39, ../lib/styles/admin/single-editor.scss */
    #postbox-container-1 > #side-sortables:hover {
      border-left: 1px solid rgba(0, 0, 0, 0.0725);
      box-shadow: -25px 0 125px -65px rgba(0, 0, 0, 0.5);
      transition: all .12s ease-in-out; }
    /* line 44, ../lib/styles/admin/single-editor.scss */
    #postbox-container-1 > #side-sortables:hover > * {
      -webkit-filter: saturate(1);
      opacity: 1;
      pointer-events: auto;
      transition: all .12s ease-in-out; }
    /* line 50, ../lib/styles/admin/single-editor.scss */
    #postbox-container-1 > #side-sortables:not(:hover) * {
      box-shadow: 0 0 0 transparent;
      transition: all .12s ease-in-out; }
    /* line 54, ../lib/styles/admin/single-editor.scss */
    #postbox-container-1 > #side-sortables:not(:hover) .submitbox a {
      color: black; }

/* line 60, ../lib/styles/admin/single-editor.scss */
#titlediv #title {
  background: transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -.0325rem;
  transition: all .125s ease-in; }
  /* line 68, ../lib/styles/admin/single-editor.scss */
  #titlediv #title:focus {
    background: #F9F9F9;
    border-color: #5B9DD9;
    box-shadow: 0 0 0 transparent;
    transition: all .125s ease-in; }
  /* line 74, ../lib/styles/admin/single-editor.scss */
  #titlediv #title:focus, #titlediv #title:hover {
    background: #FDFDFD;
    border-color: #D3D3D3;
    box-shadow: 0 2px 15px -10px #333;
    transition: all .125s ease-in; }

/* line 2, ../lib/styles/admin/mail-sub-plug.scss */
.mail-subscribe-list-index-php #post-body-content {
  float: none;
  margin: 0 auto;
  max-width: 85em; }
  /* line 6, ../lib/styles/admin/mail-sub-plug.scss */
  .mail-subscribe-list-index-php #post-body-content:before {
    content: 'Email Subscriptions';
    display: block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -.0325em;
    line-height: 2rem;
    margin: 0 0 1.5rem;
    padding: 0; }
/* line 17, ../lib/styles/admin/mail-sub-plug.scss */
.mail-subscribe-list-index-php #postbox-container-1 {
  display: none; }
/* line 20, ../lib/styles/admin/mail-sub-plug.scss */
.mail-subscribe-list-index-php .meta-box-sortables .postbox {
  background: transparent;
  border: 0 solid transparent;
  border-top: 1px solid #DDD;
  box-shadow: 0 0 0 transparent;
  padding-top: 1.5em; }

/* line 2, ../lib/styles/admin/wysiwyg-mce.scss */
.mce-container-body .mce-btn-group {
  width: 100%; }
/* line 5, ../lib/styles/admin/wysiwyg-mce.scss */
.mce-container-body .mce-toolbar .mce-btn-group #mceu_51.mce-btn {
  float: right; }
/* line 8, ../lib/styles/admin/wysiwyg-mce.scss */
.mce-container-body .mce-toolbar .mce-btn-group .mce-btn {
  float: left; }

/* line 4, ../lib/styles/admin/acf.scss */
#acf-col-side {
  display: none; }

/* line 8, ../lib/styles/admin/acf.scss */
#acf-group_5414693745fa1 .handlediv {
  /* hide postbox handle */
  display: none; }
/* line 12, ../lib/styles/admin/acf.scss */
#acf-group_5414693745fa1 .hndle {
  /* turn off postbox accordian */
  pointer-events: none; }

/* line 18, ../lib/styles/admin/acf.scss */
.acf-field .acf-label label {
  font-size: .95rem;
  font-weight: 300;
  margin: 0 0 -7px; }

/* line 24, ../lib/styles/admin/acf.scss */
.acf-file-uploader {
  background: #FBFBFB;
  box-shadow: 0 2px 15px -10px #000; }

/* line 29, ../lib/styles/admin/acf.scss */
.acf-icon.dark {
  background: transparent;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  padding: 0; }
  /* line 34, ../lib/styles/admin/acf.scss */
  .acf-icon.dark [class*="acf-sprite"] {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .75;
    transition: opacity .25s ease-out; }
  /* line 39, ../lib/styles/admin/acf.scss */
  .acf-icon.dark:hover [class*="acf-sprite"] {
    -webkit-filter: invert(0);
    filter: invert(0);
    opacity: .8;
    transition: opacity .25s ease-out; }

/* line 45, ../lib/styles/admin/acf.scss */
.acf-image-uploader .view {
  float: none; }

/* line 48, ../lib/styles/admin/acf.scss */
.acf-soh .acf-soh-target {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  height: 2em;
  margin-top: -1em;
  opacity: .25;
  transition: opacity .25s ease-out;
  visibility: visible; }
  /* line 58, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target:hover {
    opacity: 1;
    transition: opacity .25s ease-out; }
  /* line 62, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target li {
    padding: 0 .625em;
    vertical-align: middle; }
    /* line 65, ../lib/styles/admin/acf.scss */
    .acf-soh .acf-soh-target li + li {
      border-left: 1px solid #999;
      transition: border-left .2s ease-out; }
  /* line 70, ../lib/styles/admin/acf.scss */
  .acf-soh .acf-soh-target:hover li + li {
    border-left: 1px solid #DDD;
    transition: border-left .1s ease-out; }

/* line 78, ../lib/styles/admin/acf.scss */
.acf-tab-group .acf-tab-button:focus {
  border-color: #0099FF;
  box-shadow: 0 0 0 transparent;
  outline: 0 solid transparent; }
/* line 85, ../lib/styles/admin/acf.scss */
.acf-tab-group > * .active .acf-tab-button {
  background-color: transparent; }
/* line 88, ../lib/styles/admin/acf.scss */
.acf-tab-group > * :not(.active) .acf-tab-button {
  background: transparent;
  border-color: transparent;
  transition: all .125s ease-in; }
  /* line 92, ../lib/styles/admin/acf.scss */
  .acf-tab-group > * :not(.active) .acf-tab-button:hover {
    background: #DDD;
    border-color: #DDD;
    color: #444;
    transition: all .125s ease-in; }

/* line 102, ../lib/styles/admin/acf.scss */
.acf-repeater .acf-field .acf-label label {
  margin: 0; }
/* line 105, ../lib/styles/admin/acf.scss */
.acf-repeater .active .acf-tab-button {
  background: white; }
/* line 108, ../lib/styles/admin/acf.scss */
.acf-repeater td.acf-label, .acf-repeater .acf-repeater td.acf-input {
  vertical-align: middle; }

/* line 3, ../lib/styles/admin/wrap-styles.scss */
.wrap > #message {
  background: rgba(253, 253, 253, 0.95);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-top: solid 0 rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 15px -9px black;
  box-sizing: border-box;
  left: 50%;
  padding: .5em .25em;
  position: fixed;
  top: 20px;
  z-index: 99999999; }

/* line 19, ../lib/styles/admin/wrap-styles.scss */
.wrap > #message a {
  border-left: 1px solid #DDD;
  box-sizing: content-box;
  display: inline-block;
  font-size: .6rem;
  font-weight: bold;
  margin: 0 0 0 .625rem;
  padding: 10px 0 10px .625rem;
  text-transform: uppercase; }

/* line 30, ../lib/styles/admin/wrap-styles.scss */
.wrap > #message p {
  display: block;
  font-weight: 100;
  line-height: 0;
  padding: 2px .7rem 0; }

/* line 37, ../lib/styles/admin/wrap-styles.scss */
.wrap h2 {
  color: #AAA;
  font-size: .75rem;
  height: 50px; }

/* line 43, ../lib/styles/admin/wrap-styles.scss */
.wrap h2 .add-new-h2 {
  top: 0; }

/* line 3, ../lib/styles/admin/posttype-page.scss */
.post-type-page #pageparentdiv .hndle:before {
  content: 'Page Template'; }
/* line 6, ../lib/styles/admin/posttype-page.scss */
.post-type-page #pageparentdiv .hndle > span {
  font-size: 0; }
/* line 9, ../lib/styles/admin/posttype-page.scss */
.post-type-page #pageparentdiv .inside {
  margin-top: 1em; }
/* line 12, ../lib/styles/admin/posttype-page.scss */
.post-type-page #pageparentdiv .inside select {
  width: 100%;
  box-sizing: border-box; }
/* line 16, ../lib/styles/admin/posttype-page.scss */
.post-type-page #pageparentdiv .inside > p {
  display: none; }
